.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7em;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.headerLogo {
  height: 50%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-left: 1em;
}

.headerLogo:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
}

.headerLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.headerItems {
  display: flex;
  align-items: center;
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  z-index: 999;
  margin-right: 2em;
  position: relative;
}

.hamburgerMenu:active {
  transform: scale(0.9);
}

.bar {
  width: 100%;
  height: 0.25em;
  background-color: #000000;
  transition: 0.3s;
  border-radius: 0.25em;
}

.MenuDesplegable {
  display: none;
}

.headerItems.open .MenuDesplegable {
  display: block;
}

.headerItemsList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-direction: row;
}

.headerItemsList li {
  padding: 20px;
  width: 50%;
  text-align: center;
  color: #000000;
}

.headerItemsList button {
  font-size: 2em;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Show the hamburgerMenu when on a mobile device */
@media (max-width: 767px) {
  .hamburgerMenu {
    display: flex;
  }

  .MenuDesplegable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .headerItemsList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
